# Ignore node_modules directory
node_modules/

# Ignore built files
/dist/
/.idea/

# Ignore log files and other local environment files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.lock
.DS_Store

# Ignore Vue CLI configuration file
vue.config.js

# Ignore the build directory
/dist/

# Ignore environment variables file
.env

# Ignore any compiled files
*.min.js
*.min.css
